{% extends "BookBundle:book:layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block home_body %}

  <h2>Detail of Books</h2>
  
<div class="container card">
  <div class="row">
      <h4 class="card-title col-12">{{ book.title }}</h4>
      <div class="card-body col-lg-5">
          <img class="card-img-top img-fluid" src="{{ asset(book.picture.webPath) }}" alt="{{ book.picture.alt }}"/>    
      </div>

      <div class="card-body col-lg-5">
        <p><strong>Author: </strong> {{ book.author }}<p>
        <p><strong>Editor: </strong>{{ book.editor }}<p>
        <p><strong>date Of Entry: </strong>{{ book.dateOfEntry|date('d/m/Y') }}<p>
        <p><strong>releaseDate: </strong>{{ book.releaseDate|date('d/m/Y') }}<p>
        <p><strong>Status: </strong>{{ book.status }}<p>
        <p><strong>To summarize: </strong>{{ book.summarize}}</p>
        <a href="{{ path('borrowBook', {'id': book.id}) }}" class="btn btn-primary">borrow</a>
      </div>
    </div>
</div>
{% endblock %}