{% extends "BookBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block home_body %}

  <h2>List of Books</h2>
  <div class="row">
    <!-- card the averts  -->
    {# {% for book in books %} #}
    <div class="card col-sm-6 col-md-4 col-lg-3 mt-4" style="width: 20rem;">
        <img class="card-img-top" src="http://mairiesaintecroixvolvestre.fr/wp-content/uploads/2015/06/livres.jpg" alt="pochette du livre">
        <div class="card-body">
          {# <h4 class="card-title">{{ book.title }}</h4>
          <p class="card-text">{{ book.author }}</p>
          <p class="card-text">{{ book.editor }}</p>
          <p class="card-text">{{ book.category }}</p>
          <p class="card-text">{{ book.dateOfEntry }}</p>
          <p class="card-text">{{ book.releaseDate }}</p>
          <p class="card-text">{{ book.status }}</p> #}
          <a href="{{ path('bookAction' }}" class="btn btn-primary">Lire la suite</a>
        </div>
      </div>
  {# {% endfor %} #}
    
      </div>

{% endblock %}