{% extends "BookBundle:member:layout.html.twig" %}

{% block title %}
  Member
{% endblock %}

{% block member_body %}

  <h2>Detail of Member</h2>
  
  <h2>List of members</h2>
  <table class="table table-responsive-sm">
     <thead class="thead-dark table-bordered">
       <tr>
         <th scope="col">id</th>
         <th scope="col">Name</th>
         <th scope="col">Login</th>
         <th scope="col">RegistrationDate</th>
         <th scope="col">Detail Member</th>
        
       </tr>
     </thead>

     
     <tbody>
         {% for member in members %}
       <tr>
         <td scope="col">{{ member.id }}</td>
         <td>{{ member.name }}</td>
         <td>{{ member.login }}</td>
         <td>{{ member.registrationDate|date('d/m/Y') }}</td>
         <td><a href="{{ path('memberAction', {'id': member.id}) }}" class="btn btn-primary">Detail</a></td>
         
       <tr>
           {% endfor %}
     </tbody>
   </table>
{% endblock %}